.single-meta {
        display: block;
        text-align:right;
        float:right;
        text-transform: uppercase;
        font-size: 13px;
}

.c {
        display:inline-block;
        width-min: 100%;
}

h1 {
        font-size: 36px;
}

h2 {
        font-size: 32px;
}

h3 {
        font-size: 28px;
}

h4 {
        font-size: 24px;
}

h5 {
        font-size: 20px;
}


.css-treeview ul,
.css-treeview li
{
        padding: 0;
        margin: 0;
        list-style: none;
}

.css-treeview li:hover
{
        background-color:#ffb342;
}
 
.css-treeview a,
.css-treeview a:visited,
.css-treeview a:active,
.css-treeview a:link,
.css-treeview a:focus
{
        color: #ffb342;
        margin: 0 0 0 32px;
        text-decoration: none;
        width: 100%;
        display: block;
        font-size: 16px;
        -webkit-transition: all 0.0s ease-in-out;
        -moz-transition: all 0.0s ease-in-out;
        -ms-transition: all 0.0s ease-in-out;
        -o-transition: all 0.0s ease-in-out;
        transition: all 0.0s ease-in-out;
}
.css-treeview a:hover
{
         color: #343131; 
}
 
.css-treeview
{
    background-color:#343131;
}

.css-treeview label
{
    color: #ffb342;
    margin: 0 0 0 16px;
    font-size: 20px;
}

